@import 'variable.scss';
@import 'blocks/bg';

.body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

.grid {
  display: grid;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  background-color: aquamarine;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(6, 1fr);
  }

  @media (max-width: 460px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}


